<!--sourced and modified from https://www.w3docs.com/learn-html/html-form-templates.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Vegetable Classifier</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <div class="testbox">
      <form action="/" method="POST" enctype="multipart/form-data">
        <div class="banner">
          <h1>Vegetable Classifier</h1>
        </div>

        <h4>Please upload a JPG image of a vegetable</h4>
          <h5>Detectable Vegetables: Bean, Bitter_Gourd, Bottle_Gourd, Brinjal, Broccoli, Cabbage, Capsicum, Carrot,
              Cauliflower, Cucumber, Papaya, Potato, Pumpkin, Radish, Tomato</h5>

          <div class="item">

          <input type="file" name="fileinput" id="fileinput" accept=".jpg"/>
              </div>


        <div class="btn-block">
          <button type="submit" href="/file_input">Submit</button>
        </div>
<div class="item">
          <p style="color: red;">{{error}}</p>
</div>
      </form>

    </div>
<div class="testbox1">
             {{result}}
            </div>
  <div class="testbox1">
             <img src={{display_image}} />
            </div>


  </body>
</html>